<form [formGroup]="formCheque" (ngSubmit)="creerCompteCheque()"class="container text-center">
    <div class="container">
        <p class="text-danger" *ngIf="messageValidation != ''">{{messageValidation}}</p>
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Prenom</label>
      <input type="text" class="form-control" formControlName="prenom" id="prenom">

      <label for="nom">Nom</label>
      <input type="text" class="form-control" formControlName="nom" id="nom">

      <label for="ouverture">Somme ouverture</label>
      <input type="number" class="form-control" formControlName="ouverture" id="ouverture">
    </div>
    <button type="submit" class="btn btn-primary form-control my-2">Envoyer</button>
  </form>