<form [formGroup]="formSubscribe" (ngSubmit)="onSubscribe()" style="background-color: #fcec5f;" class="border border-white rounded m-5 p-5 text-white">
    <div class="container">
      <p class="text-danger" *ngIf="messageValidation != ''">{{messageValidation}}</p>
    </div>
    <h4>Informations Peronnels</h4>
    <!--<div class="form-group">
      <label for="enfant">Cochez cette case si vous remplissez cette demande pour votre enfant?</label>
      <div *ngIf="isEnfant">
         ngModelOptions standalone: true est pour pouvoir faire ngModel à l'intérieur d'un formGroup
        <input type="checkbox" id="enfant" checked [(ngModel)]="isEnfant" [ngModelOptions]="{standalone: true}">
        <div>
          <label for=""></label>
        </div>
      </div>
      <div *ngIf="!isEnfant">
        <input type="checkbox" id="enfant" [(ngModel)]="isEnfant" [ngModelOptions]="{standalone: true}">
      </div>
    </div>-->
    <hr>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrez votre nom.">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Entrez votre prenom.">
    </div>
    <div class="form-group">
      <label for="choixSexe">Sexe du demandant</label>
      <div class="form-check" id="choixSexe">
        <input class="form-check-input" type="radio" value="M" formControlName="sexe" name="sexe" id="choixSexeM" checked>
        <label class="form-check-label" for="choixSexeM">
          M
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="F" formControlName="sexe" name="sexe" id="choixSexeF">
        <label class="form-check-label" for="choixSexeF">
          F
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="A" formControlName="sexe" name="sexe" id="choixSexeA">
        <label class="form-check-label" for="choixSexeA">
          Autre
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="nassm">Numéro d'assurance social du demandant</label>
      <input type="text" class="form-control" id="nassm" formControlName="nassm" placeholder="Ex: NOMP25019517">
    </div>
    <div class="form-group">
      <label for="telephone"># Téléphone</label>
      <input type="text" class="form-control" id="telephone" formControlName="telephone" placeholder="Ex: 514-123-4567">
    </div>
    <div class="form-group">
      <label for="age">Âge du demandant</label>
      <input type="number" class="form-control" id="age" formControlName="age">
    </div>
    <h4>Informations du Compte</h4>
    <hr>
    <div class="form-group" >
      <label for="courriel">Adresse courriel</label>
      <input type="email" class="form-control" id="courriel" formControlName="courriel" placeholder="Ex: exemple@exemple.com">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe </label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Entrez un mot de passe.">
    </div>
    <h4>Informations sur le Permis</h4>
    <hr>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="test" formControlName="choixPermisRadio" name="choixPermisRadio" id="choixPermisTest" checked>
      <label class="form-check-label" for="choixPermisTest">
        Permis de Test
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="vaccin" formControlName="choixPermisRadio" name="choixPermisRadio" id="choixPermisVaccin">
      <label class="form-check-label" for="choixPermisVaccin">
        Permis Vaccination
      </label>
    </div>
    <div class="form-group mt-2" *ngIf="isEnfant">
      <label for="enfant">Validation du tuteur</label>
      <p class=" d-inline text-muted">Si vous remplissez ce formulaire pour votre enfant</p>
      <input type="text" class="form-control" id="enfant" formControlName="enfant" placeholder="ABCDEF">
    </div>
    <div class="text-center my-5">
      <button type="submit" id="envoyer" class="form-control btn btn-outline-light px-5">Complétez votre demande de permis</button>
    </div>
  </form>
  